/* src/components/Filter.css */
.filter {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .filter h3 {
    margin-top: 0;
  }
  
  .filter label {
    display: block;
    margin-bottom: 10px;
  }
  